body {
    margin-left: 50px;
    margin-top: 30px;
}

button {
    font-weight: bold;
    display: block;
    margin-bottom: 20px;
    width: 90px;
    height: 30px;
}

#increase {
    background-color: lightgreen;
}

#decrease {
    background-color: rgba(245, 43, 43, 0.911);
}

#zero {
    background-color: rgba(241, 118, 35, 0.911);
}
